<!doctype html>
<html ng-app="phonecatApp">

<head>
    <title>AngularJS</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    <div id="section1">
        <div id="services" ng-controller="controllerA">
            <h1>{{welcome}}</h1>
            <h2>{{time}}</h2>
        </div>

        <div>
            <label>Color1</label>
            <input type="color" style="background-color: {{col}}" ng-model="col">
            <p>{{col}}</p>
        </div>

        <div>
            <label>Color2</label>
            <!--adaptar el valor-->
            <input type="text" style="background-color: {{col2}}" ng-model="col2" value="">
            <p ng-bind="col2"></p>
        </div>

        <div>
            <input type="text" ng-model="name">
            <p ng-bind="name"></p>
            <p>{{name}}</p>
        </div>

        <div ng-init="person={name:'John', last: 'Doe'}">
            <label>{{person.name}}</label>
            <label ng-bind="person.last"></label>
        </div>

        <div id="dynamic_phones" ng-controller="PhoneListController" style="color: {{col}}">
            <dl ng-repeat="phone in phones | orderBy:'name'">
                <h4>{{$index+1}}</h4>
                <dt>{{phone.name}}</dt>
                <dd>{{phone.snippet}}</dd>
            </dl>
        </div>

        <div id="dynamic_names" ng-controller="PhoneListController" style="color: {{col2}}">
            <ol>
                <li ng-repeat="name in names | filter: 'a'">{{name}}</li>
                <li>{{names[1]}}</li>
            </ol>
        </div>

        <div id="dynamic_table" ng-controller="PhoneListController">
            <table>
                <th colspan="2">Elements</th>
                <tr>
                    <td>A</td>
                    <td>B</td>
                </tr>
                <tr ng-repeat="i in ['A',1,2,3,4,5,'Z'] | lowercase">
                    <td>{{i}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="section2">
        <div id="directives" ng-app="PhoneListController">
            <etiqueta-h></etiqueta-h>
        </div>

        <div id="filter_prices" ng-controller="PhoneListController">
            <li ng-repeat="price in prices">{{price | myFilter}}</li>
        </div>

        <div id="own_services" ng-controller="controllerA">
            <h4>{{hex}}</h4>
            <ul>
                <li ng-repeat="x in myData">{{x.firstName+' '+x.lastName}}</li>
            </ul>
            <table style="border: 1px solid">
                <tr ng-repeat="y in myData | orderBy: 'firstName'">
                    <td ng-if="$odd" style="border: 1px solid">{{y.firstName}}</td>
                    <td ng-if="$even" style="border: 1px dashed">{{y.firstName}}</td>
                    <td ng-if="$odd" style="border: 1px solid">{{y.lastName}}</td>
                    <td ng-if="$even" style="border: 1px dashed">{{y.lastName}}</td>
                </tr>
            </table>
        </div>

        <div id="select_options" ng-controller="controllerB">
            <form>
                <select ng-model="selectedCase" ng-options="x for x in casos"></select>
                <p>{{selectedCase}}</p>
            </form>

            <div ng-switch="selectedCase">
                <div ng-switch-when="1">
                    <h1>CASO_1_</h1>
                </div>
                <div ng-switch-when="2">
                    <h1>CASO_2_</h1>
                </div>
                <div ng-switch-when="3">
                    <h1>CASO_3_</h1>
                </div>
                <div ng-switch-when="4">
                    <h1>CASO_4_</h1>
                </div>
                <div ng-switch-when="5">
                    <h1>CASO_5_</h1>
                </div>
            </div>
        </div>

        <div id="data" ng-controller="controllerB">
            <select ng-model="selectData" ng-options="x for (x, y) in datos"></select>
            <p>{{selectData}}</p>
        </div>

        <div id="conditions_DOM">
            <input type="number" ng-model="num1">
            <p ng-show="num1 <= 0" style="color:darkred;">{{num1}}</p>
            <p ng-show="num1 <= 10 && num1 > 0" style="color: deepskyblue;">{{num1}}</p>
            <p ng-show="num1 > 10" style="color: green">{{num1}}</p>
        </div>

        <div id="event" ng-controller="controllerB">
            <button ng-click="count = count + 1">CLICK</button>
            <label>{{count+1}}</label>
            <label>{{alph[count]}}</label>
        </div>

        <div id="pass_event" ng-controller="controllerB" ng-mousemove="myFunc($event)" style="height: 100px; width: 100px; border: 1px solid black">
            <label>{{x+' '+y}}</label>
        </div>
    </div>

    <script src="http://code.angularjs.org/snapshot/angular.js"></script>
    <script src="js/app.js"></script>

</body>

</html>